$black-color: #050517;
$orange-color: #CF5C36;
$darkorange-color: #cf5c36;
$yellow-color: #d09f25;
$dirtyyellow-color: #988148;
$brown-color: #efc88b;
$lightbrown-color: #f4e3b2;
$white-color: #fff;
$lightblue-color: #d3d5d7;
$darkblue-color: #3C6266;
$color1: #f4f4f4;
$color2: #3197EE;

.active {
  background: none;
}

main {
  background-image: url("/static/images/background.png");
  padding: 20px;
}

.nav-item-owners {
  background-color: $orange-color;
}

#owners {
  padding: 10px;
  width: 90%;
  margin: auto;
}

.table-top {
  width: 100%;
  margin: 0;
}

.owners-top {
  background: $black-color;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  border-top: 2px solid $darkorange-color;

  h5 {
    flex-grow: 2;
  }
}

.icon-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-actions i,.icon-actions span {
  flex-grow: 1;
  font-size: 20px;
}

.search-container {
  padding: 0;
  display: flex;
  align-items: center;
}
#search_anchor{
    height: 100%;
    align-items: center;
    display: flex;
    background: $black-color;
}
.tableSearch {
  height: 100%;
  border-right: none;
  border-top: none;
}

.tableSearch:focus {
  border: none;
  border-bottom: 2px solid $orange-color;
  box-shadow: none;
}

.fa-user-plus {
  cursor: pointer;
  font-size: 20px;
}

.fa-search {
  color: $white-color;
  font-size: 20px;
}

.owners-table thead, .plots-table thead, .contracts-table thead,.payments-table thead {
  background: $darkorange-color;
  color: $white-color;
}

.owners-table tbody tr:nth-child(even),#owner_plots table.plots-table tbody tr:nth-child(even),.contracts-table tbody tr:nth-child(even),.payments-table tbody tr:nth-child(even) {
  background: $brown-color;
}

.owners-table tbody tr:nth-child(odd),#owner_plots table.plots-table tbody tr:nth-child(odd),.contracts-table tbody tr:nth-child(odd),.payments-table tbody tr:nth-child(odd)  {
  background: $lightbrown-color;
}

td.icon-actions {
  cursor: pointer;
}

ul.pagination a.page-link {
  color: $black-color;
}

ul.pagination a.page-link:hover {
  color: $brown-color;
}

ul.pagination a.page-link:focus {
  box-shadow: none;
}

ul.pagination .page-item.active .page-link {
  background-color: $black-color;
  border-color: $black-color;
}

//Add owner form

#addOwnerModal > div > div > div.modal-header {
  background: $black-color;
  color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addOwnerModal > .modal-title {
  text-align: center;
}

#addOwnerModal > div > div > div.modal-header > button {
  color: $white-color;
  opacity: 7;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

#addOwnerModal .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus-circle {
  font-size: 20px;
}

#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-container label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background: $black-color;
  color: white;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


/*inputs*/

#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
  resize: none;
}


#msform input:focus, #msform textarea:focus, #msform select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid $black-color;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button, #edit_owner_form .action-button, #addOwnerModal .modal-footer .action-button {
  width: 100px;
  background: $black-color;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#addOwnerModal .modal-footer .action-button {
  background: #cf5c36;
  outline: none;
}

#msform .action-button:hover, #msform .action-button:focus, #edit_owner_form .action-button:hover, #edit_owner_form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $black-color;
}

#addOwnerModal .modal-footer .action-button:hover, #addOwnerModal .modal-footer .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $darkorange-color;
  outline: none;
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

#add-owner-btn {
  width: 200px !important;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0;
}

#progressbar li {
  list-style-type: none;
  color: $black-color;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  text-align: center;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: $darkorange-color;
  color: white;
}

.pointer-shape {
  width: 200px;
  height: 40px;
  position: relative;
  background: $black-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
}

.pointer-shape:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer-shape:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid $black-color;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.view-input-container {
  margin-bottom: 15px;
}

#msform .view-input-container input, #msform .view-input-container textarea {
  padding: 0;
  padding-left: 15px;
  margin-left: 30px;
  border: 1px solid $darkorange-color;
}

#msform .view-input-container span {
  font-size: 12px;
  font-weight: 500;
}


// Owner Single Page CSS

.owner-info {
  padding: 30px;
}

.bordered-container {
  background: $white-color;
  border: 1px solid $black-color;
  position: relative;
}

.bordered-ontainer.jumbotron {
  padding: 1em 1em;
}

.edit-input-container {
  margin-bottom: 15px;
}

.edit-input-container .pointer-shape {
  margin-right: 30px;
}

.edit-input-container input, textarea, select {
  width: 70%;
  resize: none;
}

.edit-input-container input:focus, textarea:focus, select:focus {
  box-shadow: none;
  border: 1px solid $black-color;
}

.edit-owner-section-title {
  background: white;
  position: absolute;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-icon-btn {
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.edit-owner-buttons-container {
  display: flex;
  justify-content: center;
}

#edit_owner_form #edit_owner_cancel_btn {
  background: $darkorange-color;
}

#edit_owner_form #edit_owner_cancel_btn:focus, #edit-owner-btn:focus {
  outline: none;
}

#edit_owner_form #edit_owner_cancel_btn:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $darkorange-color;
}

.plots-table .btn-info,.contracts-table .btn-info ,.payments-table .btn-info  {
  background-color: $black-color;
  border-color: $black-color;
}

.plots-table .btn-info:hover,.contracts-table .btn-info:hover ,.payments-table .btn-info:hover {
  background-color: $darkorange-color;
  border-color: $darkorange-color;
}

.table-responsive {
  max-height: 250px;
}


@media (min-width: 576px) {
  .jumbotron {
    padding: 1em 1em;
  }
}